Flask
gevent
gevent_openssl
matplotlib
numpy
pandas
plotly
seatable_api
scikit-learn
scipy
tiktoken
text2vec
torch
flask-sqlalchemy
apscheduler
pymysql
PyJWT
faiss-cpu
modelscope
whoosh
loguru
html2text
